.box{
    width: 100%;
    height: 95vh;
    border: 1px solid blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: darkblue;
}
.boxs{
    width: 300px;
    height: 250px;
    border: 1px solid rgb(243, 243, 243);
}
.boxs:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
.div{
    border: 1px solid rgb(255, 255, 255);
    height: 70px;
    width: 280px;
    border-radius: 5px;
    background: white;
}
.div:nth-child(3){
    align-self: flex-start;
}
.boxs:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
}